body{
    font-family: 'Times New Roman', Times, serif;
}

.Card{
    background-color: rgb(28, 121, 84);
    color: rgb(247, 243, 250);
    margin: 5px;
}

main{
    display: grid;
    grid-template-columns: 200px 200px 200px;
}